POSTGRES_DB=batch_demo
POSTGRES_USER=batch_demo
POSTGRES_PASSWORD=batch_demo_local
MINIO_ROOT_USER=batch_demo_local
MINIO_ROOT_PASSWORD=batch_demo_local_secret

ConnectionStrings__BatchDemo=Host=127.0.0.1;Port=55432;Database=batch_demo;Username=batch_demo;Password=batch_demo_local
S3__ServiceUrl=http://127.0.0.1:9000
S3__AccessKey=batch_demo_local
S3__SecretKey=batch_demo_local_secret
S3__BucketName=batch-demo
S3__Region=us-east-1
